<div class="container constest-container">
  <div class="row">
    <h1><%= contest.name %></h1>
  </div>
</div>

<h3>Tweets</h3>

<% tweets.statuses.forEach(function(tweet) {
  if(tweet.entities.media != null ) { %>
  <div class="col-xs-12 col-sm-6 col-lg-4 tweet-show">
    <div class='inside-box'>
      <section class="tweet-head" style='height:100px;'>
        <p>User: <%= tweet.user.screen_name %></p>
        <p><%= tweet.text %></p>
      </section>
      <img class="tweet-image" height="200" width="200" src="<%= tweet.entities.media[0].media_url %>" />
      <div class='tweet-favs'>
        <p>Favorites: <%= tweet.favorite_count%></p>
        <p>Retweets: <%= tweet.retweet_count%></p>
      </div>
    </div>
  </div>
<% }}) %>
