<h3>Tweets</h3>

    <% tweets.statuses.forEach(function(tweet) {
       if(tweet.entities.media != null ) { %>
         <div  class="col-md-4">
           <p>User: <%= tweet.screen_name %></p>
           <p><%= tweet.text %></p>
           <p>Favorites: <%= tweet.favorite_count%></p>
           <p>Retweets: <%= tweet.retweet_count%></p>
           <img src="<%= tweet.entities.media[0].media_url %>"/>
         </div>

      <% }}) %>
</section>
