<div class="container">
<h3>Dashboard</h3>

<% contests.forEach(function(contest) { %>
  <div class="col-md-4">
    <a href="<%= contest._id %>">Go to this contest</a>
    <p>Name: <%= contest.name %></p>
    <p>Hashtag: <%= contest.hashtag %></p>
    <img width="300" src="<%= contest.picPath %>" />
    <form action="/admin/<%= contest._id %>/delete" method="POST">
      <button style="color: black;" type="submit" class="label-danger">Delete Contest <span class="glyphicon glyphicon-trash"></span></button>
    </form>
  </div>
<% }); %>
</div>
